# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Authentication (e.g. NextAuth)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here"

# API Keys
# NEXT_PUBLIC_ANALYTICS_ID=""
NEXT_PUBLIC_APP_NAME="WeddingInvite"

# App Name
NEXT_PUBLIC_APP_NAME="Weeding Invitation"
NEXT_PUBLIC_APP_ALIAS="Wevin"

# API Url
NEXT_PUBLIC_API_URL="http://localhost:3000"

# SMTP / Mailer Configuration (Local Mailpit by default)
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="admin@wevin.local"